<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.CS">

<!-- FQA 페이지 이동 시 FQA 목록 가져오기 -->
	<select id="getFAQList" resultType="FAQVo">
		select ROWNUM r, s.* from(select * from tbl_faq f
		inner join tbl_code c
		on f.faq_state = c.code_no)s
		order by r asc
	</select>

<!-- FAQ 페이지에서 검색 -->
	
	<select id="getSearchList" resultType="FAQVo">
		select ROWNUM r, s.* from(select * from tbl_faq f
		inner join tbl_code c
		on f.faq_state = c.code_no)s
		where code_detail = #{category} and (faq_content like '%' || #{keyword} || '%' or faq_title like '%' || #{keyword} || '%')
		order by r asc
		
	</select>
</mapper>
