<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.deliver">
	<!-- 웹 -->
	<select id="login" resultType="DeliverVo">
		select * from tbl_deliver
		where dlvr_id = #{dlvr_id}
		and dlvr_pw = #{dlvr_pw}
	</select>

	<insert id="registDeliver">
		insert into tbl_deliver(
			dlvr_no, dlvr_id, dlvr_pw, dlvr_name, dlvr_phone, 
			dlvr_email, dlvr_addr, dlvr_idcard, dlvr_birth, dlvr_img
		)
		values(
			seq_account_no.nextval, #{dlvr_id}, #{dlvr_pw}, #{dlvr_name}, #{dlvr_phone}, 
			#{dlvr_email}, #{dlvr_addr}, #{dlvr_idcard}, #{dlvr_birth}, #{dlvr_img}
		)
	</insert>
	
	<select id="checkIdDupl" resultType="deliverVo">
		select * 
		from tbl_deliver
		where dlvr_id = #{dlvr_id}
	</select>
	
	
	
	<!-- // 웹  -->
	
	<!-- 안드로이드 -->
	<update id="modifyDeliver">
		update tbl_deliver set
			dlvr_pw = #{dlvr_pw}, 
			dlvr_phone = #{dlvr_phone}, 
			dlvr_email = #{dlvr_email}, 
			dlvr_addr = #{dlvr_addr}, 
			dlvr_img = #{dlvr_img}
		where dlvr_no = #{dlvr_no}
	</update>
	
	
</mapper>
