<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.deliver">
	<!-- 웹 -->
	<select id="login" resultType="DeliverVo">
		select * from tbl_deliver
		where dlvr_id = #{dlvr_id}
		and dlvr_pw = #{dlvr_pw}
	</select>

	<insert id="registDeliver">
		insert into tbl_deliver(
			dlvr_no, dlvr_id, dlvr_pw, dlvr_name, dlvr_phone, 
			dlvr_email, dlvr_addr, dlvr_idcard, dlvr_birth, dlvr_img
		)
		values(
			seq_account_no.nextval, #{dlvr_id}, #{dlvr_pw}, #{dlvr_name}, #{dlvr_phone}, 
			#{dlvr_email}, #{dlvr_addr}, #{dlvr_idcard}, #{dlvr_birth}, #{dlvr_img}
		)
	</insert>
	
	<select id="checkIdDupl" resultType="DeliverVo">
		select * 
		from tbl_deliver
		where dlvr_id = #{dlvr_id}
	</select>
	
	<!-- 배달원 프로필 사진 변경 -->
	<update id="imgChange">
		update tbl_deliver set
		dlvr_img = #{chg_img}
		where dlvr_id = #{dlvr_id}
	</update>
	
	<!-- 배달원 현재 비밀번호 확인 -->
	<select id="pwCheck" resultType="DeliverVo">
		select * from tbl_deliver
		where
		dlvr_id = #{dlvr_id} and dlvr_pw = #{orgPw}
	</select>

	<!-- 배달원 비밀번호 변경 -->
	<update id="pwChange">
		update tbl_deliver set
		dlvr_pw = #{chgPw}
		where dlvr_id = #{dlvr_id}
	</update> 
	
	<!-- 배달원 이메일 변경  -->
	<update id="emailChange">
		update tbl_deliver set
		dlvr_email = #{chgEmail}
		where dlvr_id = #{dlvr_id}
	</update>
	
	<!-- 배달원 휴대전화 변경 -->
	<update id="phoneChange">
		update tbl_deliver set
		dlvr_phone = #{chgPhone}
		where dlvr_id = #{dlvr_id}
	</update>
	<!-- 배달원 주소 변경 -->
	<update id="addrChange">
		update tbl_deliver set
		dlvr_addr = #{chgAddr}
		where dlvr_id = #{dlvr_id}
	</update>

	<!-- 배달 내역 조회 -->
	<select id="getDeliveryList" resultType="OrderVo">
		select o.*,c.code_detail ,t.time_star 
	from tbl_order o
	left outer join tbl_timeline t
	on o.order_no = t.order_no
	inner join tbl_code c on c.code_no = o.order_state
	where o.dlvr_no = #{dlvr_no}
	</select>
	
	<!-- 포인트 업데이트 -->
	<update id="updatePoint">
		update tbl_deliver set
		dlvr_point = dlvr_point + #{point_score}
		where dlvr_no = #{account_no}
	</update>
	 
	<select id="getDlvrRank" resultType="DeliverVo">
		select * from (
		    select d.*, o.order_count, rank() over(order by o.order_count desc) dlvr_rank
		    from tbl_deliver d
		    inner join (
		        select dlvr_no, count(*) order_count
		        from tbl_order
		        where order_state = '3-003'
		        group by dlvr_no) o
		    on d.dlvr_no = o.dlvr_no)
		where dlvr_rank &lt;= 3
	</select>
	
	<!-- // 웹  -->
	
	<!-- 안드로이드 -->
	<update id="modifyDeliver">
		update tbl_deliver set
			dlvr_pw = #{dlvr_pw}, 
			dlvr_phone = #{dlvr_phone}, 
			dlvr_email = #{dlvr_email}, 
			dlvr_addr = #{dlvr_addr}, 
			dlvr_img = #{dlvr_img}
		where dlvr_no = #{dlvr_no}
	</update>
	
	
</mapper>
