<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.deliver">
	
	<select id="login" resultType="DeliverVo">
		select * from tbl_deliver
		where dlvr_id = #{dlvr_id}
		and dlvr_pw = #{dlvr_pw}
	</select>

</mapper>
