<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.order">
	
	<select id="getOrderList" resultType="OrderVo">
		select * from tbl_order
		where (order_lat between #{order_lat} - #{range} * 0.013 and #{order_lat} + #{range} * 0.013)
		and (order_lng between #{order_lng} - #{range} * 0.013 and #{order_lng} + #{range} * 0.013)
		and order_state = '100-001'
	</select>

	<update id="pickOrder">
		update tbl_order set
			dlvr_no = #{dlvr_no}, 
			order_state = '100-002'
		where order_no = #{order_no}
	</update>

	<select id="getPickedOrder" resultType="OrderVo">
		select * from tbl_order
		where dlvr_no = #{dlvr_no}
		and order_state = '100-002'
	</select>

	<update id="cancelDelivery">
		update tbl_order set
			dlvr_no = null, 
			order_state = '100-001'
		where order_no = #{order_no}
		and dlvr_no = #{dlvr_no}
	</update>
	
	<update id="deliveryCompleted">
		update tbl_order set
			order_state = '100-003'
		where order_no = #{order_no}
		and dlvr_no = #{dlvr_no}
	</update>

	<select id="getPickedOrder" resultType="OrderVo">
		select * from tbl_order
		where dlvr_no = #{dlvr_no}
		and order_state = '100-003'
	</select>

</mapper>
