<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.report">
	<!-- 신고 테이블 -->

	<!-- 신고하기 -->
	<insert id="report">
		insert into tbl_report(report_no, plt_no, def_no, report_code, report_type)
		values(seq_report_no.nextval, #{plt_no}, #{def_no}, #{report_code}, #{report_type})
	</insert>
	
<!-- 관리자 -->
	<!-- 신고 관련 카운트 -->
	<select id="getNewRequestedReportCount" resultType="int">
		select count(*) 
		from tbl_report
		where report_state = '6-001'
		and report_date &gt;= (
			select to_char(sysdate -1, 'YYYY-MM-DD')
		    from dual) 
		and report_date &lt;= sysdate
	</select>
	<select id="getNewPostReportCount" resultType="int">
		select count(*) 
		from tbl_report
		where report_type = '6-012'
		and report_date &gt;= (
			select to_char(sysdate -1, 'YYYY-MM-DD')
		    from dual) 
		and report_date &lt;= sysdate
	</select>
	<select id="getNewCommentReportCount" resultType="int">
		select count(*) 
		from tbl_report
		where report_type = '6-013'
		and report_date &gt;= (
			select to_char(sysdate -1, 'YYYY-MM-DD')
		    from dual) 
		and report_date &lt;= sysdate
	</select>
	<select id="getTotalPostReportCount" resultType="int">
		select count(*) from tbl_report
		where report_type = '6-012'
	</select>
	<select id="getTotalCommentReportCount" resultType="int">
		select count(*) from tbl_report
		where report_type = '6-013'
	</select>
	<select id="getFinishedReportCount" resultType="int">
		select count(*) from tbl_report
		where report_state = '6-002'	
	</select>
	<!-- 신고 관련 카운트 끝-->
	
	<!-- 신고 목록 + 처리 -->
	<select id="getReportList" resultType="ReportVo">
		select r.*, p.acc_name plt_name, d.acc_name def_name, c.code_detail report_detail, c1.code_detail state_detail, c2.code_detail type_detail
		from tbl_report r
		inner join view_account p
		on r.plt_no = p.acc_no
		inner join view_account d
		on r.def_no = d.acc_no
		inner join tbl_code c
		on r.report_code = c.code_no
		inner join tbl_code c1
		on r.report_state = c1.code_no
		inner join tbl_code c2
		on r.report_type = c2.code_no
		where report_state = '6-001'
	</select>
	
	<select id="getAcceptReportList" resultType="ReportVo">
		select r.*, p.acc_name plt_name, d.acc_name def_name, c.code_detail report_detail, c1.code_detail state_detail, c2.code_detail type_detail
		from tbl_report r
		inner join view_account p
		on r.plt_no = p.acc_no
		inner join view_account d
		on r.def_no = d.acc_no
		inner join tbl_code c
		on r.report_code = c.code_no
		inner join tbl_code c1
		on r.report_state = c1.code_no
		inner join tbl_code c2
		on r.report_type = c2.code_no
		where report_state = '6-002'
	</select>
	
	<select id="getCancelReportList" resultType="ReportVo">
		select r.*, p.acc_name plt_name, d.acc_name def_name, c.code_detail report_detail, c1.code_detail state_detail, c2.code_detail type_detail
		from tbl_report r
		inner join view_account p
		on r.plt_no = p.acc_no
		inner join view_account d
		on r.def_no = d.acc_no
		inner join tbl_code c
		on r.report_code = c.code_no
		inner join tbl_code c1
		on r.report_state = c1.code_no
		inner join tbl_code c2
		on r.report_type = c2.code_no
		where report_state = '6-003'
	</select>
	
	<update id="updateReportState">
		update tbl_report set
		report_state = #{report_state}
		where report_no = #{report_no}
	</update>
	<!-- 신고 목록 + 처리 끝 -->
	
</mapper>
