<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.timeline">

	<select id="timelineList" resultType="TimelineVo">
		select t.*, d.dlvr_name, a.writer_name, a.writer_img
		from tbl_timeline t 
		    left outer join tbl_deliver d
		    on t.dlvr_no = d.dlvr_no
		    left outer join (
		        select admin_no account_no, admin_name writer_name, admin_img writer_img from tbl_admin
		        union
		        select user_no, user_name, user_img from tbl_user
		        union
		        select dlvr_no, dlvr_name, dlvr_img from tbl_deliver
		    ) a
		    on t.writer_no = a.account_no
		<if test="searchType != null">
			where time_state = #{searchType}
		</if>
		order by t.time_no desc
	</select>
	
	<insert id="insertArticle">
		insert into tbl_timeline(time_no, writer_no, writer_state, time_content, time_img, time_state, time_star, time_location)
		values(seq_board_no.nextval, #{writer_no}, #{writer_state}, #{time_content}, #{time_img}, #{time_state}, #{time_star}, #{time_location})
	</insert>
	
	<insert id="insertArticleNoPic">
		insert into tbl_timeline(time_no, writer_no, writer_state, time_content, time_state, time_star, time_location)
		values(seq_board_no.nextval, #{writer_no}, #{writer_state}, #{time_content}, #{time_state}, #{time_star}, #{time_location})
	</insert>
	
	<update id="updateArticle">
		update tbl_timeline set
		time_content = #{time_content}
		where time_no = #{time_no}
	</update>
	
	<delete id="deleteArticle">
		delete from tbl_timeline
		where time_no = #{time_no}
	</delete>
	
	<update id="insertLike">
		update tbl_timeline set
		time_like = time_like + #{time_like}
		where time_no = #{time_no}
	</update>
	
</mapper>
