<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.delivery.timeline">

	<select id="timelineList" resultType="TimelineVo">
		select t.*, d.dlvr_name, a.writer_name, a.writer_img, nvl(l.time_like, 0) time_like, nvl(l2.account_no, -1) liked_no
		from tbl_timeline t 
		    left outer join tbl_deliver d
		    on t.dlvr_no = d.dlvr_no
		    left outer join (
		        select admin_no account_no, admin_name writer_name, admin_img writer_img from tbl_admin
		        union
		        select user_no, user_name, user_img from tbl_user
		        union
		        select dlvr_no, dlvr_name, dlvr_img from tbl_deliver) a
		    on t.writer_no = a.account_no
		    left outer join (
		        select time_no, count(*) time_like
		        from tbl_like
		        group by time_no) l
		    on t.time_no = l.time_no
			left outer join (
			    select *
			    from tbl_like
			    where account_no = #{account_no}) l2
			on t.time_no = l2.time_no
		<if test="searchType != null">
		where time_state = #{searchType}
		</if>
		order by t.time_no desc
	</select>
	
	<insert id="insertArticle">
		insert into tbl_timeline(time_no, writer_no, writer_state, time_content, time_img, time_state, time_star, time_location)
		values(seq_board_no.nextval, #{writer_no}, #{writer_state}, #{time_content}, #{time_img}, #{time_state}, #{time_star}, #{time_location})
	</insert>
	
	<insert id="insertArticleNoPic">
		insert into tbl_timeline(time_no, writer_no, writer_state, time_content, time_state, time_star, time_location)
		values(seq_board_no.nextval, #{writer_no}, #{writer_state}, #{time_content}, #{time_state}, #{time_star}, #{time_location})
	</insert>
	
	<update id="updateArticle">
		update tbl_timeline set
		time_content = #{time_content}
		where time_no = #{time_no}
	</update>
	
	<update id="deleteArticle">
		update tbl_timeline set
		time_state = '2-000'
		where time_no = #{time_no}
	</update>
	
	<select id="selectByNo" resultType="TimelineVo">
		select t.*, d.dlvr_name, a.writer_name, a.writer_img, nvl(l.time_like, 0) time_like, nvl(l2.account_no, -1) liked_no
		from tbl_timeline t 
		    left outer join tbl_deliver d
		    on t.dlvr_no = d.dlvr_no
		    left outer join (
		        select admin_no account_no, admin_name writer_name, admin_img writer_img from tbl_admin
		        union
		        select user_no, user_name, user_img from tbl_user
		        union
		        select dlvr_no, dlvr_name, dlvr_img from tbl_deliver) a
		    on t.writer_no = a.account_no
		    left outer join (
		        select time_no, count(*) time_like
		        from tbl_like
		        group by time_no) l
		    on t.time_no = l.time_no
			left outer join (
			    select *
			    from tbl_like
			    where account_no = #{account_no}) l2
			on t.time_no = l2.time_no
	    where time_no = #{time_no}
	</select>
	 
	<select id="getLastTimeline" resultType="TimelineVo">
		select * 
		from (
		    select * from tbl_timeline t 
		    inner join (
		        select user_no writer_no, user_name writer_name from tbl_user
		        union
		        select dlvr_no, dlvr_name from tbl_deliver
		        order by writer_no desc) a
		    on t.writer_no = a.writer_no
		    order by t.time_no desc)
		where rownum = 1
	</select>

	<select id="getCurrentTimeline" resultType="TimelineVo">
		select t.*, d.dlvr_name, a.writer_name, a.writer_img, nvl(l.time_like, 0) time_like, nvl(l2.account_no, -1) liked_no
		from tbl_timeline t 
		    left outer join tbl_deliver d
		    on t.dlvr_no = d.dlvr_no
		    left outer join (
		        select admin_no account_no, admin_name writer_name, admin_img writer_img from tbl_admin
		        union
		        select user_no, user_name, user_img from tbl_user
		        union
		        select dlvr_no, dlvr_name, dlvr_img from tbl_deliver) a
		    on t.writer_no = a.account_no
		    left outer join (
		        select time_no, count(*) time_like
		        from tbl_like
		        group by time_no) l
		    on t.time_no = l.time_no
			left outer join (
			    select *
			    from tbl_like
			    where account_no = #{account_no}) l2
			on t.time_no = l2.time_no
		where t.time_no &gt; #{time_no}
		order by t.time_no asc
	</select>
	
</mapper>
